<h1>RAK Finder</h1>

<p>Have the urge to do something nice for someone, but out of fresh ideas? You've come to the right place!</p>

<p>Just click the button below, and you'll get a set of randomly-selected Random Acts of Kindness (RAK's) to choose from!</p>

<div>
  <%= link_to "Show Me the Kindness!", get_raks_path %>
</div>